body {
  font-family: Arial;
}
.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
}
.todo-input-grid {
  margin-bottom: 10px;
  /* align-items: stretch; */
}
.name-input,
.date-input {
  font-size: 15px;
  padding: 3px;
}
.add-todo-button {
  background-color: green;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}
.todo-delete-button {
  background-color: darkred;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding: 6px; */
  border-radius: 3px;
  cursor: pointer;
}
